<div class="grid grid-cols-2 -mx-4 mb-4 p-8">
  <div routerLink="/admin/electrodomesticos" class="mx-4 bg-primary  cursor-pointer shadow-2xl w-62 h-52 p-4">
    <p class="text-secondary font-barlow font-bold text-2xl mt-20 text-center mb-2">
        Productos
    </p>
  </div>
  <div routerLink="/admin/users" class="mx-4 bg-[#6af6b2] cursor-pointer shadow-2xl w-62 h-52 p-4">
    <p class="text-secondary font-barlow font-bold text-2xl mt-20 text-center mb-2">
        Usuarios
    </p>
  </div>
  <div routerLink="/admin/ventas" class="mx-4 bg-[#6af6b2] mt-6 cursor-pointer shadow-2xl w-62 h-52 p-4">
    <p class="text-secondary font-barlow font-bold text-2xl mt-20 text-center mb-2">
        Ventas
    </p>
  </div>
  <div routerLink="/admin/category" class="mx-4 bg-primary mt-6 cursor-pointer shadow-2xl w-62 h-52 p-4">
    <p class="text-secondary font-barlow font-bold text-2xl mt-20 text-center mb-2">
        Categorías
    </p>
  </div>
</div>
