<div class="">
<div *ngIf="electrodomestico" >
<mat-card class="shadow-2xl w-8/12 mx-auto mb-8">
  <div class="bg-[#6af6b2] -mx-4">
    <mat-card-header class="border-b-2 bg-[#6af6b2] border-b-secondary">
        <mat-card-title>{{electrodomestico.nombre}}</mat-card-title>
        <mat-card-subtitle>{{electrodomestico.categoria | uppercase}}</mat-card-subtitle>
    </mat-card-header>
  </div>
  <img class="rounded-md mt-4 w-6/12 mx-auto" src="assets/images/{{electrodomestico.imagen}}" alt="Photo of a Shiba Inu">
  <mat-card-content class="mt-8">
    <p>
      {{electrodomestico.descripcion}}
    </p>
    <p class="mt-4 text-xl font-bold">Precio: {{electrodomestico.precio}} €</p>
  </mat-card-content>
  <mat-card-actions class="text-center pb-8">
    <div class="bg-[#6af6b2] -mx-2 py-4 -mb-6 rounded">
      <button (click)="agregarProducto(electrodomestico)" mat-raised-button color="primary">Añadir al carrito</button>
      <button routerLink="/home" mat-raised-button color="warn">Volver a inicio</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>
<form [formGroup]="loginForm" (ngSubmit)="post()">
  <div class="text-secondary mx-auto text-center md:text-center lg:text-center">
    <div class="pb-2 rounded-md mx-auto">
      <mat-form-field class="text-center w-8/12 mx-auto" appearance="fill">
        <mat-label>Comentario</mat-label>
        <textarea matInput class="text-center w-8/12 mx-auto"  formControlName="descripcion"></textarea>
      </mat-form-field>
    </div>

  </div>
    <div class="pb-4 text-center">
        <button type="submit" class="bg-[#3a1fe3] w-6/12 md:w-6/12 md:m-auto lg:w-4/12 lg:m-auto text-white py-2 px-2 rounded-2xl mx-auto tracking-wider font-semibold mb-4">
      Insertar Comentario
    </button>
    </div>
  </form>
  <div *ngIf="comentarios.length > 0">
    <mat-card *ngFor="let comentario of comentarios" class=" w-8/12 mx-auto mb-4">
      <mat-card-title>{{comentario.nombre}}</mat-card-title>
      <mat-card-subtitle>{{comentario.email}}</mat-card-subtitle>
      <mat-card-content>
        <p>{{comentario.comentario}}</p>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="comentarios.length == 0">
    <mat-card class="text-center w-8/12 mx-auto mb-4">
      <mat-card-title>Este producto no tiene comentarios</mat-card-title>
      <mat-card-content>
        <p>Sé el primero en dejar un comentario</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

