<div *ngIf="isLogged" [ngClass]="{'bg-ligth': showMenu, 'bg-white': !showMenu}" class="z-50 fixed top-0 left-0 right-0 bg-white h-16 border-b-2">
  <nav [ngClass]="{'bg-azulClaro': showMenu, 'bg-white': !showMenu}" class="border-b border-gray-200 font-barlow no-underline fixed w-[100%] top-0" *ngIf="isLogged">
    <div class="mx-4">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="flex-shrink-0 flex items-center">
            <div *ngIf="user.rol=='admin' && route()=='/home'">
              <button routerLink="/admin" class="bg-[#6af6b2] px-2 cursor-pointer w-full uppercase text-center text-sm text-[#000563] py-1 rounded-2xl mx-auto font-semibold inline-block">
                IR A ADMINISTRACION
              </button>
            </div>
          </div>
          <div class="hidden lg:-my-px lg:ml-6 lg:flex lg:space-x-8 no-underline">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a routerLink="/home" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page"> Inicio </a>

            <a routerLink="/catalogo" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Catálogo </a>

            <a routerLink="/compras" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Mis Compras </a>

          </div>

        </div>

        <div class=" hidden lg:-my-px lg:ml-6 lg:flex lg:space-x-8 no-underline">
          <a routerLink="/carrito" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> <mat-icon routerLink="/carrito" matBadge="{{carrito.length}}" matBadgeColor="warn">shopping_cart</mat-icon> </a>

            <a (click)="logout();" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center justify-end justify-content-end px-1 pt-1 border-b-2 text-sm font-medium"> <mat-icon>exit_to_app</mat-icon> </a>
        </div>

        <div class="-mr-2 flex items-center lg:hidden menuPrincipal">
          <!-- Mobile menu button -->
          <button (click)="toggleNavbar()" type="button" class="botonMenu inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg [ngClass]="{'hidden': showMenu, 'block': !showMenu}" class="block h-6 w-6 text-verdeAymo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" #imagenPrin id="botonMenu">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg [ngClass]="{'hidden': !showMenu, 'block': showMenu}" class="hidden h-6 w-6 text-verdeAymo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" #imagenCruz id="cruz">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div [ngClass]="{'hidden': !showMenu, 'block': showMenu}" class="hidden bg-ligth no-underline fixed w-full h-full" #movilMenu id="mobile-menu">
      <div class="pt-2 pb-3 space-y-1 text-center">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent " -->
        <div>
          <a routerLink="/home" (click)="toggleNavbar()" class="no-underline block pl-3 pr-4 py-2 text-2xl font-bold text-secondary mt-4" aria-current="page">
    Inicio
  </a>

          <a routerLink="/catalogo" *ngIf="isLogged" (click)="toggleNavbar()" class="no-underline block pl-3 pr-4 py-2 text-2xl font-bold text-secondary mt-8">
    Catálogo
  </a>

          <a routerLink="/compras" (click)="toggleNavbar()" class="no-underline block pl-3 pr-4 py-2 text-2xl font-bold text-secondary mt-8">
    Mis compras
  </a>

          <a routerLink="/carrito" *ngIf="isLogged" (click)="toggleNavbar()" class="w-40 cursor-pointer inline-block bg-primary text-white text-center font-bold rounded-full py-1 mt-20">
            <mat-icon routerLink="/carrito" matBadge="{{carrito.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </a>


          <a *ngIf="isLogged" (click)="toggleNavbar();logout();" class="underline border-transparent cursor-pointer block pl-3 pr-4 py-2 border-l-4 text-s font-normal text-secondary mt-8">
            <mat-icon>exit_to_app</mat-icon>
  </a>
      </div>
      </div>
    </div>
  </nav>

</div>

