<div *ngIf="isLogged" [ngClass]="{'bg-ligth': showMenu, 'bg-white': !showMenu}" class="z-50 fixed top-0 left-0 right-0 bg-white h-16 border-b-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div *ngIf="user.rol=='admin' && route()=='/home'">
      <button routerLink="/admin" class="bg-[#6af6b2] px-2 cursor-pointer w-full uppercase text-center text-sm text-[#000563] py-1 rounded-2xl mx-auto font-semibold inline-block">
        IR A ADMINISTRACION
      </button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav border-none">
        <li class="border-none">
          <a routerLink="/home" (click)="toggleNavbar()" class=" no-underline block pl-3 pr-4 py-2 font-bold text-[#000563]">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/catalogo" *ngIf="isLogged" (click)="toggleNavbar()" class="no-underline block pl-3 pr-4 py-2 font-bold text-[#000563]">
            Catálogo
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/compras" (click)="toggleNavbar()" class="no-underline block pl-3 pr-4 py-2  font-bold text-[#000563]">
            Mis compras
          </a>
        </li>
      </ul>
      <div class="justify-end justify-content-end  navbar-collapse">
          <a routerLink="/carrito" *ngIf="isLogged" onchange="obtenerCarrito()" (click)="toggleNavbar()" class="bg-[#6af6b2] no-underline rounded-full border-transparent cursor-pointer block pl-3 pr-4 py-2 border-l-4 text-s font-normal text-[#000563]">
            <mat-icon matBadge="{{carrito.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
          </a>
          <a *ngIf="isLogged" (click)="toggleNavbar();logout();" class="underline border-transparent cursor-pointer block pl-3 pr-4 py-2 border-l-4 text-s font-normal text-[#000563]">
            <mat-icon>exit_to_app</mat-icon>
          </a>
      </div>
    </div>
  </div>
</nav>
</div>

