<div class="mb-4">
  <button routerLink="/admin/electrodomesticos/form" mat-raised-button color="primary" class="mb-4" focusable="false">
    Añadir producto
  </button>
</div>
<table mat-table [dataSource]="products" class="mat-elevation-z8 w-full mb-8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} €</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Borrar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" focusable="false">
        Borrar
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="goToProduct(element.id)" mat-raised-button color="primary" focusable="false">
        Editar
      </button>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="hover:bg-primary" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



